<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="ITYetti\Status\Api\StatusManagementInterface" type="ITYetti\Status\Service\StatusManagement" />
    <type name="Magento\Customer\CustomerData\Customer">
        <plugin name="add_status_attributes_plugin" type="ITYetti\Status\Plugin\StatusAttributes" sortOrder="10"
                disabled="false" />
    </type>
</config>
